In [1]:
import pandas as pd

In [2]:
flights = pd.read_csv('flights_encoded.csv')

In [5]:
X = flights.drop(['arr_delay'], axis = 1)

In [6]:
y = flights['arr_delay']

In [8]:
X.head()

,origin_city_name,dest_city_name,scheduled_flight_hour_of_day,distance,day_of_the_week,origin_wind_speed,origin_visibility,origin_conditions,dest_wind_speed,dest_visibility,dest_conditions,holiday,year,month
0,7,4,14,1620.0,1,14.8,9.9,0,12.3,9.1,2,1,2018,1
1,3,4,20,641.0,1,15.0,9.9,2,12.3,9.1,2,1,2018,1
2,3,6,5,1235.0,1,15.0,9.9,2,5.6,4.2,0,1,2018,1
3,4,0,18,1199.0,1,12.3,9.1,2,14.6,9.9,2,1,2018,1
4,6,2,12,1750.0,1,5.6,4.2,0,12.7,9.9,0,1,2018,1

### Splitting the data

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.7, random_state = 5)

In [10]:
from sklearn.linear_model import LinearRegression
lreg = LinearRegression()

In [11]:
model = lreg.fit(X_train, y_train)

In [12]:
y_pred = model.predict(X_test)

In [15]:
from sklearn.metrics import r2_score
r_2_score = r2_score(y_test, y_pred)

In [16]:
print(r_2_score)

0.03888032572735445