In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('group_a_dec_18.csv')

In [4]:
df2 = pd.read_csv('group_a_dec_19.csv')

In [5]:
df3 = pd.read_csv('group_a_jan_18.csv')

In [6]:
df4 = pd.read_csv('group_a_jan_19.csv')

In [7]:
df5 = pd.read_csv('group_b_dec_18.csv')

In [8]:
df6 = pd.read_csv('group_b_dec_19.csv')

In [9]:
df7 = pd.read_csv('group_b_jan_18.csv')

In [10]:
df8 = pd.read_csv('group_b_jan_19.csv')

In [11]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], ignore_index=True)

### Changing date and city format so it will correspond to a sample format

In [13]:
df['Date time'] = pd.to_datetime(df['Date time'])

In [14]:
df['Date time'] = df['Date time'].dt.strftime('%Y-%m-%d')

In [17]:
my_lambda = lambda x: ''.join(x.split(',')[0]).lower()

In [18]:
df['Name'] = df['Name'].apply(my_lambda)

In [19]:
df.head()

,Name,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Conditions
0,atlanta,2018-12-01,60.4,51.5,55.7,NaN,NaN,1.41,0.0,0.0,10.0,94.75,19.7,5.3,92.6,89.19,"Rain, Overcast"
1,atlanta,2018-12-02,72.2,50.9,64.0,NaN,NaN,0.04,0.0,0.0,10.7,233.17,NaN,7.5,55.5,74.89,"Rain, Partially cloudy"
2,atlanta,2018-12-03,64.0,45.7,53.2,40.6,NaN,0.00,0.0,0.0,13.1,281.46,29.8,9.8,41.0,60.49,Partially cloudy
3,atlanta,2018-12-04,48.1,35.8,41.9,31.6,NaN,0.00,0.0,0.0,14.5,320.00,33.3,9.9,19.9,60.03,Clear
4,atlanta,2018-12-05,42.9,30.3,35.6,24.3,NaN,0.00,0.0,0.0,15.0,312.75,24.4,9.9,9.8,61.49,Clear

In [20]:
df.to_csv('weather.csv', sep=",", index = False)