In [1]:
import pandas as pd

In [2]:
df_a = pd.read_csv('group_a.csv')

In [4]:
df_b = pd.read_csv('group_b.csv')

In [24]:
test_weather = pd.concat([df_a, df_b], ignore_index=True)

In [25]:
test_weather.to_csv('test_weather.csv', sep=",", index = False)

In [7]:
test_flights = pd.read_csv('test_flights.csv')

## Changing city names and dates format so it will match

In [28]:
my_lambda = lambda x: ''.join(x.split(',')[0]).lower()

In [29]:
test_flights['origin_city_name'] = test_flights['origin_city_name'].apply(my_lambda)

In [30]:
test_flights['dest_city_name'] = test_flights['dest_city_name'].apply(my_lambda)

In [31]:
test_weather['Name'] = test_weater['Name'].apply(my_lambda)

In [32]:
test_weather['Name'].unique()

array(['atlanta', 'chicago', 'denver', 'houston', 'los angeles',
       'charlotte', 'dallas/fort worth', 'new york', 'phoenix',
       'washington'], dtype=object)

In [33]:
test_weather['Name'].replace('fort worth ave', 'dallas/fort worth', inplace=True)

In [34]:
test_weather['Date time'] = pd.to_datetime(test_weather['Date time'])

In [35]:
test_weather['Date time'] = test_weather['Date time'].dt.strftime('%Y-%m-%d')

In [36]:
test_weather.head()

,Name,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Conditions
0,atlanta,2020-01-01,55.5,36.6,45.1,33.9,NaN,0.00,0.0,0.0,12.0,283.92,20.5,9.9,23.1,48.03,Clear
1,atlanta,2020-01-02,48.4,43.5,46.2,42.0,NaN,0.99,0.0,0.0,11.6,81.88,NaN,7.0,72.5,80.93,"Rain, Partially cloudy"
2,atlanta,2020-01-03,60.2,49.3,56.5,47.3,NaN,0.71,0.0,0.0,11.0,162.88,27.7,4.7,79.0,94.76,"Rain, Overcast"
3,atlanta,2020-01-04,58.1,37.5,51.9,30.1,NaN,0.24,0.0,0.0,22.2,277.46,36.0,8.9,62.7,72.33,"Rain, Partially cloudy"
4,atlanta,2020-01-05,53.4,31.7,40.7,24.9,NaN,0.00,0.0,0.0,12.4,286.29,29.8,9.9,0.4,59.74,Clear

In [37]:
test_flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01,WN,WN,WN,3947,WN,N8580Z,3947,14107,PHX,phoenix,10397,ATL,atlanta,815,1350,N,215,1,1587
1,2020-01-01,WN,WN,WN,5044,WN,N8651A,5044,14107,PHX,phoenix,10397,ATL,atlanta,600,1130,N,210,1,1587
2,2020-01-01,WN,WN,WN,5676,WN,N8526W,5676,14107,PHX,phoenix,10397,ATL,atlanta,1515,2045,N,210,1,1587
3,2020-01-01,WN,WN,WN,611,WN,N210WN,611,14107,PHX,phoenix,11292,DEN,denver,2250,30,N,100,1,602
4,2020-01-01,WN,WN,WN,950,WN,N7742B,950,14107,PHX,phoenix,11292,DEN,denver,1835,2015,N,100,1,602

In [38]:
test_weather_wvc = test_weather[['Name', 'Date time', 'Wind Speed', 'Visibility', 'Conditions']]

### Creating the new test_flights_weather DataFrame

In [39]:
### Adding columns based on origin city name
test_flights = pd.merge(test_flights, test_weather_wvc, how = 'left', left_on=['origin_city_name', 'fl_date'], right_on=['Name', 'Date time']).rename(columns={"Wind Speed": "origin_wind_speed",
                                                                                                                                            "Visibility": "origin_visibility",
                                                                                                                                            "Conditions": "origin_conditions"})

In [40]:
### Adding columns based on dest city name
test_flights = pd.merge(test_flights, test_weather_wvc, how = 'left', left_on=['dest_city_name', 'fl_date'], right_on=['Name', 'Date time']).rename(columns={"Wind Speed": "dest_wind_speed",
                                                                                                                                            "Visibility": "dest_visibility",
                                                                                                                                            "Conditions": "dest_conditions"})

In [45]:
test_flights

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,dup,crs_elapsed_time,flights,distance,origin_wind_speed,origin_visibility,origin_conditions,dest_wind_speed,dest_visibility,dest_conditions
0,2020-01-01,WN,WN,WN,3947,WN,N8580Z,3947,14107,PHX,...,N,215,1,1587,8.2,9.9,Partially cloudy,12.0,9.9,Clear
1,2020-01-01,WN,WN,WN,5044,WN,N8651A,5044,14107,PHX,...,N,210,1,1587,8.2,9.9,Partially cloudy,12.0,9.9,Clear
2,2020-01-01,WN,WN,WN,5676,WN,N8526W,5676,14107,PHX,...,N,210,1,1587,8.2,9.9,Partially cloudy,12.0,9.9,Clear
3,2020-01-01,WN,WN,WN,611,WN,N210WN,611,14107,PHX,...,N,100,1,602,8.2,9.9,Partially cloudy,22.7,9.9,"Snow, Partially cloudy"
4,2020-01-01,WN,WN,WN,950,WN,N7742B,950,14107,PHX,...,N,100,1,602,8.2,9.9,Partially cloudy,22.7,9.9,"Snow, Partially cloudy"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52235,2020-01-31,DL,DL_CODESHARE,DL,4867,9E,N8839E,4867,12478,JFK,...,N,87,1,228,7.8,9.8,"Rain, Partially cloudy",6.6,9.9,"Rain, Overcast"
52236,2020-01-31,DL,DL_CODESHARE,DL,4897,9E,N132EV,4897,12478,JFK,...,N,182,1,740,7.8,9.8,"Rain, Partially cloudy",7.9,6.0,"Snow, Overcast"
52237,2020-01-31,DL,DL_CODESHARE,DL,4945,9E,N923XJ,4945,11057,CLT,...,N,111,1,544,9.7,6.9,"Rain, Partially cloudy",7.8,9.8,"Rain, Partially cloudy"
52238,2020-01-31,DL,DL_CODESHARE,DL,4957,9E,N132EV,4957,13930,ORD,...,N,141,1,740,7.9,6.0,"Snow, Overcast",7.8,9.8,"Rain, Partially cloudy"
52239,2020-01-31,DL,DL_CODESHARE,DL,4958,9E,N390CA,4958,12953,LGA,...,N,137,1,544,7.8,9.8,"Rain, Partially cloudy",9.7,6.9,"Rain, Partially cloudy"

In [44]:
test_flights = test_flights.drop(['Name_x', 'Date time_x', 'Name_y', 'Date time_y'], axis = 1)

In [46]:
test_flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,dup,crs_elapsed_time,flights,distance,origin_wind_speed,origin_visibility,origin_conditions,dest_wind_speed,dest_visibility,dest_conditions
0,2020-01-01,WN,WN,WN,3947,WN,N8580Z,3947,14107,PHX,...,N,215,1,1587,8.2,9.9,Partially cloudy,12.0,9.9,Clear
1,2020-01-01,WN,WN,WN,5044,WN,N8651A,5044,14107,PHX,...,N,210,1,1587,8.2,9.9,Partially cloudy,12.0,9.9,Clear
2,2020-01-01,WN,WN,WN,5676,WN,N8526W,5676,14107,PHX,...,N,210,1,1587,8.2,9.9,Partially cloudy,12.0,9.9,Clear
3,2020-01-01,WN,WN,WN,611,WN,N210WN,611,14107,PHX,...,N,100,1,602,8.2,9.9,Partially cloudy,22.7,9.9,"Snow, Partially cloudy"
4,2020-01-01,WN,WN,WN,950,WN,N7742B,950,14107,PHX,...,N,100,1,602,8.2,9.9,Partially cloudy,22.7,9.9,"Snow, Partially cloudy"

In [47]:
test_flights.to_csv('test_flights_with_weather.csv', sep=",", index = False)