In [1]:
import os
import psycopg2
import pandas as pd
import json

In [2]:
def connect_db():
    '''
    Creating connection to DB
    '''
    try:
        conn = psycopg2.connect(
                host=os.environ['MID_PROJ_DB_HOST'],
                database=os.environ['MID_PROJ_DB'],
                user=os.environ['MID_PROJ_DB_USERNAME'],
                password=os.environ['MID_PROJ_DB_PASSWORD'],
                port='5432')
        print('Db Connected succsefuly')
        return conn
    except (Exception, Error) as error:
        print("Error while connecting")

In [130]:
def query_db(query,conn):
    cursor = conn.cursor()
    cursor.execute(query)
    return {'data': cursor.fetchall(), 'columns': [desc[0].strip() for desc in cursor.description]}

In [131]:
def write_to_file(csv_name,query_output):
    df = pd.DataFrame(query_output['data'])
    df.columns = query_output['columns']
    df.to_csv(csv_name + '.csv', sep=",", index = False)

In [39]:
conn = connect_db()

Db Connected succsefuly

In [133]:
flights_jan_dec_19_18_query= "select * from flights where fl_date > '2018-01-01' and fl_date < '2018-02-01' union select * from flights  where fl_date > '2018-11-30' and fl_date < '2019-02-01' union select * from flights where  fl_date > '2019-11-30' and fl_date < '2020-01-01' LIMIT 300000;"
flights_jan_dec_19_18 = query_db(flights_jan_dec_19_18_query,conn)

In [134]:
write_to_file('flights_jan_dec_19_18',flights_jan_dec_19_18)

In [25]:
passengers_jan_dec_19_18_query = "select * from passengers where \"month\" in (1, 12) and year in (2018, 2019) LIMIT 300000;"
passengers_jan_dec_19_18 = query_db(passengers_jan_dec_19_18_query,conn)

In [26]:
write_to_file('passengers_jan_dec_19_18',passengers_jan_dec_19_18)

In [136]:
flights = pd.read_csv('flights_jan_dec_19_18.csv', sep = ',')

/home/elena/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [137]:
flights

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-01-02,AA,AA,AA,1,AA,N110AN,1,12478,JFK,...,2475.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-02,AA,AA,AA,2,AA,N101NN,2,12892,LAX,...,2475.0,0.0,0.0,26.0,0.0,0.0,NaN,NaN,NaN,NaN
2,2018-01-02,AA,AA,AA,3,AA,N107NN,3,12478,JFK,...,2475.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-02,AA,AA,AA,4,AA,N105NN,4,12892,LAX,...,2475.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-02,AA,AA,AA,5,AA,N787AL,5,11298,DFW,...,3784.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-01-17,UA,UA,UA,1425,UA,N16732,1425,10721,BOS,...,200.0,0.0,0.0,0.0,0.0,313.0,NaN,NaN,NaN,NaN
299996,2018-01-17,UA,UA,UA,1428,UA,N73276,1428,11618,EWR,...,1023.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299997,2018-01-17,UA,UA,UA,1429,UA,N36444,1429,12266,IAH,...,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299998,2018-01-17,UA,UA,UA,1430,UA,N14118,1430,13830,OGG,...,3302.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299999,2018-01-17,UA,UA,UA,1431,UA,N78866,1431,12892,LAX,...,2556.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN