In [171]:
import pandas as pd

In [172]:
passengers = pd.read_csv('passengers_jan-dec_18-19.csv')

In [173]:
flights_with_weather = pd.read_csv('flights_weather_holiday.csv')

In [174]:
passengers.head(5)

,departures_scheduled,departures_performed,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,unique_carrier_name,aircraft_type,origin_airport_id,origin_city_market_id,origin_city_name,dest_airport_id,dest_city_market_id,dest_city_name,year,month
0,54,53,9437,7536,49137,3689,1660,11961,10273,AS,Alaska Airlines Inc.,888,14747,30559,"Seattle, WA",11298,30194,"Dallas/Fort Worth, TX",2018,1
1,54,54,4104,3583,0,0,1235,12055,9782,OO,SkyWest Airlines Inc.,673,11298,30194,"Dallas/Fort Worth, TX",12892,32575,"Los Angeles, CA",2018,1
2,54,54,4104,3841,0,0,954,9305,7223,OO,SkyWest Airlines Inc.,673,14747,30559,"Seattle, WA",12892,32575,"Los Angeles, CA",2018,1
3,54,53,9275,7655,12897,0,1452,9941,8887,WN,Southwest Airlines Co.,614,11292,30325,"Denver, CO",12264,30852,"Washington, DC",2018,1
4,54,49,7721,6146,13844,1904,760,6457,4907,DL,Delta Air Lines Inc.,694,10397,30397,"Atlanta, GA",12478,31703,"New York, NY",2018,1

In [175]:
passengers['origin_city_name'].unique()

array(['Seattle, WA', 'Dallas/Fort Worth, TX', 'Denver, CO',
       'Atlanta, GA', 'Los Angeles, CA', 'Washington, DC', 'Chicago, IL',
       'New York, NY', 'Charlotte, NC', 'Houston, TX'], dtype=object)

In [176]:
flights_with_weather['origin_city_name'].unique()

array(['atlanta', 'los angeles', 'new york', 'washington', 'seattle',
       'chicago', 'dallas/fort worth', 'houston', 'denver', 'charlotte'],
      dtype=object)

In [177]:
my_lambda = lambda x: ''.join(x.split(',')[0]).lower()

In [178]:
passengers['origin_city_name'] = passengers['origin_city_name'].apply(my_lambda)

In [179]:
passengers['dest_city_name'] = passengers['dest_city_name'].apply(my_lambda)

In [180]:
flights_with_weather.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,total_add_gtime,longest_add_gtime,day_of_the_week,origin_wind_speed,origin_visibility,origin_conditions,dest_wind_speed,dest_visibility,dest_conditions,holiday
0,2018-01-20,WN,WN,WN,2310,WN,N470WN,2310,10397,ATL,...,NaN,NaN,Saturday,10.3,9.9,Partially cloudy,14.5,9.9,Partially cloudy,False
1,2018-12-16,DL,DL,DL,766,DL,N539US,766,12892,LAX,...,NaN,NaN,Sunday,5.7,9.5,Clear,14.2,9.3,Overcast,False
2,2018-12-12,AA,AA,AA,1187,AA,N145AN,1187,12953,LGA,...,NaN,NaN,Wednesday,11.4,9.9,"Rain, Partially cloudy",15.2,9.9,Partially cloudy,False
3,2018-12-26,AA,AA_CODESHARE,AA,5458,OH,N520DC,5458,11278,DCA,...,NaN,NaN,Wednesday,8.8,9.9,Clear,15.0,9.9,Clear,False
4,2018-12-28,B6,B6,B6,464,B6,N935JB,464,14747,SEA,...,NaN,NaN,Friday,14.9,8.3,"Rain, Overcast",10.3,6.4,"Rain, Partially cloudy",False

### Creatig a table with the total number of the passengers for each month, to soo how busy the airopots was each month

In [181]:
passengers_amount = passengers.groupby(['origin_airport_id', 'year', 'month']).passengers.sum().reset_index()

In [182]:
passengers_amount.head()

   origin_airport_id  year  month  passengers
0              10194  2018      1         202
1              10194  2018     12         111
2              10194  2019      1           0
3              10194  2019     12           0
4              10325  2018     12           2

In [207]:
pas_2018['origin_airport_id'].unique()

array([10194, 10325, 10397, 10559, 11057, 11278, 11292, 11298, 11453,
       12191, 12264, 12266, 12478, 12892, 12953, 13002, 13232, 13930,
       14050, 14747])

In [183]:
pas_2018 = passengers_amount[passengers_amount['year'] == 2018]

## Creating a flights_with_weather_passengers

In [184]:
flights_with_weather.shape

(207272, 49)

In [185]:
flights_with_weather['year'] = flights_with_weather['fl_date'].apply(lambda x: x.split('-')[0])

In [186]:
flights_with_weather['month'] = flights_with_weather['fl_date'].apply(lambda x: x.split('-')[1])

In [187]:
flights_with_weather['year'] = flights_with_weather['year'].astype(int)

In [188]:
flights_with_weather['month'] = flights_with_weather['month'].astype(int)

In [189]:
flights_with_weather.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,day_of_the_week,origin_wind_speed,origin_visibility,origin_conditions,dest_wind_speed,dest_visibility,dest_conditions,holiday,year,month
0,2018-01-20,WN,WN,WN,2310,WN,N470WN,2310,10397,ATL,...,Saturday,10.3,9.9,Partially cloudy,14.5,9.9,Partially cloudy,False,2018,1
1,2018-12-16,DL,DL,DL,766,DL,N539US,766,12892,LAX,...,Sunday,5.7,9.5,Clear,14.2,9.3,Overcast,False,2018,12
2,2018-12-12,AA,AA,AA,1187,AA,N145AN,1187,12953,LGA,...,Wednesday,11.4,9.9,"Rain, Partially cloudy",15.2,9.9,Partially cloudy,False,2018,12
3,2018-12-26,AA,AA_CODESHARE,AA,5458,OH,N520DC,5458,11278,DCA,...,Wednesday,8.8,9.9,Clear,15.0,9.9,Clear,False,2018,12
4,2018-12-28,B6,B6,B6,464,B6,N935JB,464,14747,SEA,...,Friday,14.9,8.3,"Rain, Overcast",10.3,6.4,"Rain, Partially cloudy",False,2018,12

In [190]:
#my_lambda = lambda x: '{:02}'.format(x)

In [191]:
#passengers_amount['month'] = passengers_amount['month'].apply(my_lambda)

In [192]:
#passengers_amount['month'] = passengers_amount['month'].astype(int)

In [193]:
#passengers_amount['month']

0      1
1     12
2      1
3     12
4     12
      ..
68    12
69     1
70    12
71     1
72    12
Name: month, Length: 73, dtype: int64

In [195]:
pas_2018['year'].dtypes

dtype('int64')

In [196]:
pas_2018 = passengers_amount[passengers_amount['year'] == 2018]

In [197]:
pas_2018.head()

   origin_airport_id  year  month  passengers
0              10194  2018      1         202
1              10194  2018     12         111
4              10325  2018     12           2
6              10397  2018      1      670338
7              10397  2018     12      743260

In [198]:
flights_2019 = flights_with_weather[flights_with_weather['year'] == 2019]

In [199]:
flights_2019.shape

(104131, 51)

In [210]:
### Adding columns based on origin city name
flights_2019_pass = pd.merge(flights_2019, pas_2018, how = 'left', left_on=['origin_airport_id', 'month'], right_on=['origin_airport_id','month'])

In [213]:
flights_2019_pass = flights_2019_pass.drop(['year_x', 'year_y'], axis = 1)

In [ ]:
flights_2019_pass.to_csv('flights_2019_pass.csv', sep=",", index = False)