In [2]:
import pandas as pd
import numpy as np

In [3]:
flights = pd.read_csv('flights_2019_pass.csv')

In [4]:
flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,day_of_the_week,origin_wind_speed,origin_visibility,origin_conditions,dest_wind_speed,dest_visibility,dest_conditions,holiday,month,passengers
0,2019-01-16,AA,AA,AA,1339,AA,N943NN,1339,12892,LAX,...,Wednesday,11.9,4.9,"Rain, Overcast",18.1,9.4,Partially cloudy,False,1,798478
1,2019-01-05,AA,AA,AA,2179,AA,N746UW,2179,12266,IAH,...,Saturday,8.2,9.8,Clear,11.3,9.9,Clear,False,1,363850
2,2019-12-08,AA,AA,AA,798,AA,N128UW,798,11278,DCA,...,Sunday,11.1,9.9,Partially cloudy,9.1,9.9,Partially cloudy,False,12,324205
3,2019-12-31,DL,DL,DL,453,DL,N179DN,453,12478,JFK,...,Tuesday,19.3,9.6,"Rain, Partially cloudy",4.2,9.9,Clear,False,12,337042
4,2019-01-28,WN,WN,WN,1764,WN,N786SW,1764,12953,LGA,...,Monday,13.9,9.9,Rain,20.8,3.7,"Snow, Overcast",False,1,404273

In [5]:
column_names = list(flights.columns.values)

In [6]:
print(column_names)

['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num', 'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name', 'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights', 'distance', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay', 'first_dep_time', 'total_add_gtime', 'longest_add_gtime', 'day_of_the_week', 'origin_wind_speed', 'origin_visibility', 'origin_conditions', 'dest_wind_speed', 'dest_visibility', 'dest_conditions', 'holiday', 'month', 'passengers']

In [11]:
columns = ['origin_airport_id', 'dest_airport_id', 'origin_city_name','dest_city_name', 'distance', 'day_of_the_week', 'origin_wind_speed', 'origin_visibility', 'origin_conditions', 'dest_wind_speed', 'dest_visibility', 'dest_conditions', 'holiday','arr_delay', 'passengers', 'month']

In [12]:
df_flights = flights[columns]

In [17]:
df_flights.head()

,origin_airport_id,dest_airport_id,origin_city_name,dest_city_name,distance,day_of_the_week,origin_wind_speed,origin_visibility,origin_conditions,dest_wind_speed,dest_visibility,dest_conditions,holiday,arr_delay,passengers,month
0,12892,12264,los angeles,washington,2288.0,Wednesday,11.9,4.9,"Rain, Overcast",18.1,9.4,Partially cloudy,False,2.0,798478,1
1,12266,11298,houston,dallas/fort worth,224.0,Saturday,8.2,9.8,Clear,11.3,9.9,Clear,False,-26.0,363850,1
2,11278,11057,washington,charlotte,331.0,Sunday,11.1,9.9,Partially cloudy,9.1,9.9,Partially cloudy,False,-11.0,324205,12
3,12478,12892,new york,los angeles,2475.0,Tuesday,19.3,9.6,"Rain, Partially cloudy",4.2,9.9,Clear,False,-50.0,337042,12
5,13232,12191,chicago,houston,937.0,Tuesday,16.8,9.7,Partially cloudy,7.3,9.9,Clear,False,11.0,177681,12

In [18]:
df_flights['arr_delay'].isnull().value_counts()

False    102224
Name: arr_delay, dtype: int64

In [19]:
df_flights = df_flights.dropna()

In [20]:
df_flights['arr_delay'].isnull().value_counts()

False    102224
Name: arr_delay, dtype: int64

In [21]:
def label_encoding(df, column):
    df[column] = df[column].astype('category')
    df[column] = df[column].cat.codes.astype('category')
    return df[column]

In [22]:
df_flights['origin_city_name'] = label_encoding(df_flights, 'origin_city_name')

In [23]:
df_flights['dest_city_name'] = label_encoding(df_flights, 'dest_city_name')

In [24]:
df_flights['day_of_the_week'] = label_encoding(df_flights, 'day_of_the_week')

In [25]:
df_flights['origin_conditions'] = label_encoding(df_flights, 'origin_conditions')

In [26]:
df_flights['dest_conditions'] = label_encoding(df_flights, 'dest_conditions')

In [27]:
df_flights['holiday'] = label_encoding(df_flights, 'holiday')

In [29]:
df_flights.head()

,origin_airport_id,dest_airport_id,origin_city_name,dest_city_name,distance,day_of_the_week,origin_wind_speed,origin_visibility,origin_conditions,dest_wind_speed,dest_visibility,dest_conditions,holiday,arr_delay,passengers,month
0,12892,12264,6,9,2288.0,6,11.9,4.9,4,18.1,9.4,2,0,2.0,798478,1
1,12266,11298,5,3,224.0,2,8.2,9.8,0,11.3,9.9,0,0,-26.0,363850,1
2,11278,11057,9,1,331.0,3,11.1,9.9,2,9.1,9.9,2,0,-11.0,324205,12
3,12478,12892,7,6,2475.0,5,19.3,9.6,5,4.2,9.9,0,0,-50.0,337042,12
5,13232,12191,2,5,937.0,5,16.8,9.7,2,7.3,9.9,0,0,11.0,177681,12

In [30]:
df_flights.dtypes

origin_airport_id       int64
dest_airport_id         int64
origin_city_name     category
dest_city_name       category
distance              float64
day_of_the_week      category
origin_wind_speed     float64
origin_visibility     float64
origin_conditions    category
dest_wind_speed       float64
dest_visibility       float64
dest_conditions      category
holiday              category
arr_delay             float64
passengers              int64
month                   int64
dtype: object

In [31]:
df_flights.to_csv('delta_encoded.csv', sep=",", index = False)

In [32]:
df_flights[df_flights.columns].corr()['arr_delay'][:]

origin_airport_id    0.026619
dest_airport_id      0.026751
distance            -0.050578
origin_wind_speed    0.067434
origin_visibility   -0.106728
dest_wind_speed      0.073809
dest_visibility     -0.107925
arr_delay            1.000000
passengers          -0.004881
month               -0.021818
Name: arr_delay, dtype: float64