In [1]:
import pandas as pd

In [3]:
weather = pd.read_csv('test_weather.csv')

In [8]:
seattle = pd.read_csv('seattle_jan_2020.csv')

In [4]:
weather['Name'].unique()

array(['Atlanta, GA, United States', 'Chicago, IL, United States',
       'Denver, CO, United States', 'Houston, TX, United States',
       'Los Angeles, CA, United States', 'Charlotte, NC, United States',
       'Fort Worth Ave, Dallas, TX 75208, United States',
       'New York, NY, United States', 'Phoenix, AZ, United States',
       'Washington, DC, United States'], dtype=object)

In [5]:
weather = weather[weather['Name'] != 'Phoenix, AZ, United States']

In [6]:
weather['Name'].unique()

array(['Atlanta, GA, United States', 'Chicago, IL, United States',
       'Denver, CO, United States', 'Houston, TX, United States',
       'Los Angeles, CA, United States', 'Charlotte, NC, United States',
       'Fort Worth Ave, Dallas, TX 75208, United States',
       'New York, NY, United States', 'Washington, DC, United States'],
      dtype=object)

In [9]:
weather = pd.concat([weather, seattle],ignore_index=True)

In [10]:
weather['Name'].unique()

array(['Atlanta, GA, United States', 'Chicago, IL, United States',
       'Denver, CO, United States', 'Houston, TX, United States',
       'Los Angeles, CA, United States', 'Charlotte, NC, United States',
       'Fort Worth Ave, Dallas, TX 75208, United States',
       'New York, NY, United States', 'Washington, DC, United States',
       'Seattle, WA, United States'], dtype=object)

In [11]:
my_lambda = lambda x: ''.join(x.split(',')[0]).lower()
weather['Name'] = weather['Name'].apply(my_lambda)

In [12]:
weather['Name'].replace('fort worth ave', 'dallas/fort worth', inplace=True)

In [13]:
weather['Name'].unique()

array(['atlanta', 'chicago', 'denver', 'houston', 'los angeles',
       'charlotte', 'dallas/fort worth', 'new york', 'washington',
       'seattle'], dtype=object)

In [14]:
weather['Date time'] = pd.to_datetime(weather['Date time'])
weather['Date time'] = weather['Date time'].dt.strftime('%Y-%m-%d')

In [20]:
weather_wvc = weather[['Name', 'Date time', 'Wind Speed', 'Visibility', 'Conditions']]

### Seattle test_data

In [16]:
sea_test = pd.read_csv('seattle_test_flights.csv')

In [19]:
sea_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01,AA,AA,AA,228,AA,N890NN,228,14747,SEA,seattle,11298,DFW,dallas/fort worth,1012,1606,N,234,1,1660
1,2020-01-01,AA,AA,AA,600,AA,N173US,600,11057,CLT,charlotte,14747,SEA,seattle,1820,2122,N,362,1,2279
2,2020-01-01,AA,AA,AA,600,AA,N173US,600,14747,SEA,seattle,11057,CLT,charlotte,2227,617,N,290,1,2279
3,2020-01-01,AA,AA,AA,610,AA,N576UW,610,11057,CLT,charlotte,14747,SEA,seattle,2045,2347,N,362,1,2279
4,2020-01-01,AA,AA,AA,766,AA,N154UW,766,14747,SEA,seattle,11057,CLT,charlotte,1149,1942,N,293,1,2279

In [18]:
sea_test['origin_city_name'] = sea_test['origin_city_name'].apply(my_lambda)
sea_test['dest_city_name'] = sea_test['dest_city_name'].apply(my_lambda)

In [29]:
### Adding columns based on origin city name
test_seattle_weather = pd.merge(sea_test, weather_wvc, how = 'left', left_on=['origin_city_name', 'fl_date'], right_on=['Name', 'Date time']).rename(columns={"Wind Speed": "origin_wind_speed",
                                                                                                                                            "Visibility": "origin_visibility",
                                                                                                                                            "Conditions": "origin_conditions"})

In [22]:
### Adding columns based on dest city name
test_seattle_weather = pd.merge(sea_test, weather_wvc, how = 'left', left_on=['dest_city_name', 'fl_date'], right_on=['Name', 'Date time']).rename(columns={"Wind Speed": "dest_wind_speed",
                                                                                                                                            "Visibility": "dest_visibility",
                                                                                                                                            "Conditions": "dest_conditions"})

In [35]:
test_seattle_weather.tail()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance,origin_wind_speed,origin_visibility,origin_conditions,day_of_the_week
5588,2020-01-31,WN,WN,WN,1726,WN,N8515X,1726,14747,SEA,...,650,1240,N,230,1,1733,20.1,5.7,"Rain, Overcast",Friday
5589,2020-01-31,WN,WN,WN,1731,WN,N8660A,1731,13232,MDW,...,1850,2135,N,285,1,1733,7.9,6.0,"Snow, Overcast",Friday
5590,2020-01-31,WN,WN,WN,1848,WN,N798SW,1848,11292,DEN,...,1550,1755,N,185,1,1024,12.6,9.9,"Snow, Partially cloudy",Friday
5591,2020-01-31,WN,WN,WN,2123,WN,N931WN,2123,14747,SEA,...,600,935,N,155,1,1024,20.1,5.7,"Rain, Overcast",Friday
5592,2020-01-31,WN,WN,WN,2164,WN,N8507C,2164,14747,SEA,...,1420,2015,N,235,1,1733,20.1,5.7,"Rain, Overcast",Friday

In [31]:
test_seattle_weather = test_seattle_weather.drop(['Name', 'Date time'], axis = 1)

In [33]:
test_seattle_weather['day_of_the_week'] = pd.to_datetime(test_seattle_weather['fl_date']).dt.day_name()

In [40]:
test_seattle_weather['fl_date'] = pd.to_datetime(test_seattle_weather['fl_date'])

In [42]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
cal = calendar()

In [43]:
holidays = cal.holidays(start='2020-01-01', end='2020-01-31')
test_seattle_weather['holiday'] = test_seattle_weather['fl_date'].isin(holidays)

In [44]:
test_seattle_weather

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,crs_arr_time,dup,crs_elapsed_time,flights,distance,origin_wind_speed,origin_visibility,origin_conditions,day_of_the_week,holiday
0,2020-01-01,AA,AA,AA,228,AA,N890NN,228,14747,SEA,...,1606,N,234,1,1660,16.4,9.9,Overcast,Wednesday,True
1,2020-01-01,AA,AA,AA,600,AA,N173US,600,11057,CLT,...,2122,N,362,1,2279,8.6,9.9,Partially cloudy,Wednesday,True
2,2020-01-01,AA,AA,AA,600,AA,N173US,600,14747,SEA,...,617,N,290,1,2279,16.4,9.9,Overcast,Wednesday,True
3,2020-01-01,AA,AA,AA,610,AA,N576UW,610,11057,CLT,...,2347,N,362,1,2279,8.6,9.9,Partially cloudy,Wednesday,True
4,2020-01-01,AA,AA,AA,766,AA,N154UW,766,14747,SEA,...,1942,N,293,1,2279,16.4,9.9,Overcast,Wednesday,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5588,2020-01-31,WN,WN,WN,1726,WN,N8515X,1726,14747,SEA,...,1240,N,230,1,1733,20.1,5.7,"Rain, Overcast",Friday,False
5589,2020-01-31,WN,WN,WN,1731,WN,N8660A,1731,13232,MDW,...,2135,N,285,1,1733,7.9,6.0,"Snow, Overcast",Friday,False
5590,2020-01-31,WN,WN,WN,1848,WN,N798SW,1848,11292,DEN,...,1755,N,185,1,1024,12.6,9.9,"Snow, Partially cloudy",Friday,False
5591,2020-01-31,WN,WN,WN,2123,WN,N931WN,2123,14747,SEA,...,935,N,155,1,1024,20.1,5.7,"Rain, Overcast",Friday,False
5592,2020-01-31,WN,WN,WN,2164,WN,N8507C,2164,14747,SEA,...,2015,N,235,1,1733,20.1,5.7,"Rain, Overcast",Friday,False

### Creating new test data

In [38]:
old_test = pd.read_csv('test_flights_weather_holiday.csv')

In [39]:
old_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,flights,distance,origin_wind_speed,origin_visibility,origin_conditions,dest_wind_speed,dest_visibility,dest_conditions,holiday,day_of_the_week
0,2020-01-01,WN,WN,WN,3947,WN,N8580Z,3947,14107,PHX,...,1,1587,8.2,9.9,Partially cloudy,12.0,9.9,Clear,False,Wednesday
1,2020-01-01,WN,WN,WN,5044,WN,N8651A,5044,14107,PHX,...,1,1587,8.2,9.9,Partially cloudy,12.0,9.9,Clear,False,Wednesday
2,2020-01-01,WN,WN,WN,5676,WN,N8526W,5676,14107,PHX,...,1,1587,8.2,9.9,Partially cloudy,12.0,9.9,Clear,False,Wednesday
3,2020-01-01,WN,WN,WN,611,WN,N210WN,611,14107,PHX,...,1,602,8.2,9.9,Partially cloudy,22.7,9.9,"Snow, Partially cloudy",False,Wednesday
4,2020-01-01,WN,WN,WN,950,WN,N7742B,950,14107,PHX,...,1,602,8.2,9.9,Partially cloudy,22.7,9.9,"Snow, Partially cloudy",False,Wednesday

In [46]:
old_test.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance',
       'origin_wind_speed', 'origin_visibility', 'origin_conditions',
       'dest_wind_speed', 'dest_visibility', 'dest_conditions', 'holiday',
       'day_of_the_week'],
      dtype='object')

In [52]:
old_test['dest_city_name'].unique()

array(['chicago', 'houston', 'atlanta', 'dallas/fort worth', 'washington',
       'charlotte', 'new york', 'los angeles', 'denver'], dtype=object)

In [50]:
old_test = old_test[(old_test['origin_city_name'] != 'phoenix') & (old_test['dest_city_name'] != 'phoenix')]

In [53]:
new_test_data = pd.concat([old_test, test_seattle_weather], ignore_index=True, sort=True)

In [55]:
new_test_data['origin_city_name'].unique()

array(['houston', 'chicago', 'atlanta', 'dallas/fort worth', 'charlotte',
       'washington', 'new york', 'los angeles', 'denver', 'seattle'],
      dtype=object)

In [58]:
new_test_data.columns

Index(['branded_code_share', 'crs_arr_time', 'crs_dep_time',
       'crs_elapsed_time', 'day_of_the_week', 'dest', 'dest_airport_id',
       'dest_city_name', 'dest_conditions', 'dest_visibility',
       'dest_wind_speed', 'distance', 'dup', 'fl_date', 'flights', 'holiday',
       'mkt_carrier', 'mkt_carrier_fl_num', 'mkt_unique_carrier',
       'op_carrier_fl_num', 'op_unique_carrier', 'origin', 'origin_airport_id',
       'origin_city_name', 'origin_conditions', 'origin_visibility',
       'origin_wind_speed', 'tail_num'],
      dtype='object')

In [59]:
new_test_data.to_csv('test_flights_weather_day_holiday.csv', sep=",", index = False)

In [60]:
df = pd.read_csv('test_flights_weather_day_holiday.csv')

In [61]:
df.head()

,branded_code_share,crs_arr_time,crs_dep_time,crs_elapsed_time,day_of_the_week,dest,dest_airport_id,dest_city_name,dest_conditions,dest_visibility,...,mkt_unique_carrier,op_carrier_fl_num,op_unique_carrier,origin,origin_airport_id,origin_city_name,origin_conditions,origin_visibility,origin_wind_speed,tail_num
0,AA_CODESHARE,1605,1326,159,Wednesday,ORD,13930,chicago,"Snow, Partially cloudy",9.9,...,AA,3978,MQ,IAH,12266,houston,"Rain, Overcast",7.2,8.6,N224NN
1,AA_CODESHARE,1256,950,186,Wednesday,IAH,12266,houston,"Rain, Overcast",7.2,...,AA,3978,MQ,ORD,13930,chicago,"Snow, Partially cloudy",9.9,19.6,N224NN
2,AA_CODESHARE,2106,1956,130,Wednesday,ORD,13930,chicago,"Snow, Partially cloudy",9.9,...,AA,4154,MQ,ATL,10397,atlanta,Clear,9.9,12.0,N240NN
3,AA_CODESHARE,1836,1526,130,Wednesday,ATL,10397,atlanta,Clear,9.9,...,AA,4154,MQ,ORD,13930,chicago,"Snow, Partially cloudy",9.9,19.6,N240NN
4,AA_CODESHARE,1202,1040,82,Wednesday,HOU,12191,houston,"Rain, Overcast",7.2,...,AA,4210,MQ,DFW,11298,dallas/fort worth,Partially cloudy,9.9,16.5,N923AE

In [63]:
df['origin_city_name']

0                  houston
1                  chicago
2                  atlanta
3                  chicago
4        dallas/fort worth
               ...
50305              seattle
50306              chicago
50307               denver
50308              seattle
50309              seattle
Name: origin_city_name, Length: 50310, dtype: object