In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
flights = pd.read_csv('dec-jan_flights.csv', index_col=0)

C:\Users\jsusn\anaconda3\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
flights

,index,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,0,2018-01-01,B6,B6,B6,943,B6,N534JB,943,11697,...,2327.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018-01-01,DL,DL_CODESHARE,DL,3507,9E,N931XJ,3507,10431,...,164.0,27.0,0.0,22.0,0.0,0.0,NaN,NaN,NaN,NaN
2,2,2018-01-01,DL,DL_CODESHARE,DL,3508,9E,N916XJ,3508,11433,...,201.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2018-01-01,DL,DL_CODESHARE,DL,3512,9E,N937XJ,3512,14122,...,201.0,0.0,0.0,15.0,0.0,0.0,NaN,NaN,NaN,NaN
4,4,2018-01-01,DL,DL_CODESHARE,DL,3513,9E,N316PQ,3513,10397,...,306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538070,150342,2019-12-30,AS,AS,AS,751,AS,N493AS,751,13495,...,2086.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538071,150343,2019-12-30,AS,AS,AS,752,AS,N612AS,752,14747,...,224.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538072,150344,2019-12-30,AS,AS,AS,753,AS,N556AS,753,14492,...,2354.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538073,150345,2019-12-30,AS,AS,AS,754,AS,N556AS,754,14747,...,2354.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538074,150346,2019-12-30,AS,AS,AS,755,AS,N296AK,755,13495,...,2086.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Notes:
- We may want to begin with the exploratory_analysis notebook to familiarize ourselves with the project (I think we should aim to answer as many as possible).
- We will have to specify a target variable by identifying which flights are delayed, and quantify this value
- We will need to eliminate all relevant columns from causing our data to be biased or overfitted (all delay columns need to be removed)

Some ideas:
- Check how many airports there are; how many flights per airport; how many passengers per flight
- Do some airports have more delays than others?
- Weather; how should we quantify this; by geographic area? magnitude (1-10)? What weather conditions should we look for? (might be worth a google to see what are common weather delays for flights in certain areas)
- Time of day, day of week (weekend?)

In [23]:
# look for "delay" columns, add to dictionary with column number as key
delay_list = {}

for i, name in enumerate(flights.columns):
    if ('delay') in (name):
        #print(name)
        delay_list[i] = name

In [24]:
delay_list

{17: 'dep_delay',
 24: 'arr_delay',
 34: 'carrier_delay',
 35: 'weather_delay',
 36: 'nas_delay',
 37: 'security_delay',
 38: 'late_aircraft_delay'}

In [25]:
# we can potentially use the weather delay to help us classify weather criteria for past measurements